<div class="main-box">
    <div forgetpasswordstate flow="1"></div>
    <div class="trading-one-box">

        <div class="ebank-input-box">
            <div class="ebank-input-title">验证身份信息认证</div>
            <form class="form-horizontal" novalidate ng-submit="vm.toSetLoginPassword()" name="vm.regForm" >

                <div class="form-group">
                    <label for="txt_account" class="col-sm-4 control-label">
                        <span class="red">*</span>
                        账号/卡号
                    </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" required  placeholder="请输入您的账号/卡号" id="txt_account" name="txt_account" ng-model = "vm.model.account" high-light = "vm.regForm.txt_account.$viewValue" custom-pattern="account" maxlength="19" num="4" symbol=" "></div>
                    <div class="col-sm-4  error" ng-messages="vm.regForm.txt_account.$error">
                        <span class="help-block" ng-message="required">请输入您的账号/卡号</span>
                        <span class="help-block" ng-message="customPattern">请正确输入您的账号/卡号</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">
                        <span class="red">*</span>
                        卡号类型
                    </label>
                    <div class="col-sm-4">
                        <select class="form-control" required id="txt_cardtype" name="txt_cardtype" ng-model= "vm.model.cardtype" >
                            <option value="">请选择卡号类型</option>
                            <option value="11">借记卡</option>
                            <option value="12">活期一本通</option>
                            <option value="13">定期一本通</option>
                            <option value="14">普通存折</option>
                        </select>
                    </div>
                    <div class="col-sm-4 error" ng-messages="vm.regForm.txt_cardtype.$error">
                        <span class="help-block" ng-message="required">请选择卡号类型</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txt_cardpassword" class="col-sm-4 control-label">
                        <span class="red">*</span>
                        账号/卡号密码
                    </label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" required id="txt_cardpassword" name="txt_cardpassword" keyboard ng-model = "vm.model.cardpassword"placeholder="请输入您的账号/卡号密码"></div>
                    <div class="col-sm-4  error" ng-messages="vm.regForm.txt_cardpassword.$error">
                        <span class="help-block" ng-message="required">请输入您的账号/卡号密码</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txt_custName" class="col-sm-4  control-label">
                        <span class="red">*</span>
                        客户姓名
                    </label>
                    <div class="col-sm-4 ">
                        <input type="text" maxlength="6" custom-pattern="name" required  class="form-control" id="txt_custName" name="txt_custName" ng-model="vm.model.custName" placeholder="请输入您的真实姓名" ></div>
                    <div class="col-sm-4  error" ng-messages="vm.regForm.txt_custName.$error">
                        <span class="help-block" ng-message="required">请输入您的真实姓名</span>
                        <span class="help-block" ng-message="customPattern">姓名为2至6位中文</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">
                        <span class="red">*</span>
                        证件类型
                    </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="txt_idcardtype" name="txt_idcardtype" ng-model= "vm.model.idcardtype" required >
                            <option value="">请选择证件类型</option>
                            <option value="1">居民身份证</option>
                            <option value="2">临时身份证</option>
                            <option value="3">军官证</option>
                            <option value="4">武警证</option>
                            <option value="5">士兵证</option>
                            <option value="6">文职干部证</option>
                            <option value="7">外国护照</option>
                            <option value="8">香港通行证</option>
                            <option value="9">澳门通行证</option>
                            <option value="10">台湾通行证</option>
                            <option value="11">其他证件</option>
                        </select>
                    </div>
                    <div class="col-sm-4  error" ng-messages="vm.regForm.txt_idcardtype.$error">
                        <span class="help-block" ng-message="required">请选择证件类型</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txt_certNo" class="col-sm-4  control-label">
                        <span class="red">*</span>
                        证件号码
                    </label>
                    <div class="col-sm-4 ">
                        <input type="text" maxlength="18"  class="form-control" id="txt_certNo" required name="txt_certNo" custom-pattern="identification" ng-model="vm.model.certNo" placeholder="请输入您的身份证号码" high-light="vm.regForm.txt_certNo.$viewValue" ng-disabled="vm.mobileValidateCode"></div>
                    <div class="col-sm-4  error" ng-messages="vm.regForm.txt_certNo.$error">
                        <span class="help-block" ng-message="required">请输入您的证件号码</span>
                        <span class="help-block" ng-message="customPattern">证件格式不正确</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">
                        <span class="red">*</span>
                        联系电话
                    </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txt_moblie" name="txt_moblie" required custom-pattern="phone" ng-model="vm.model.moblie" placeholder="请输入联系电话" maxlength="11"></div>
                    <div class="col-sm-4 error" ng-messages="vm.regForm.txt_moblie.$error">
                        <span class="help-block" ng-message="required">请输入联系电话</span>
                        <span class="help-block" ng-message="customPattern">联系电话格式不正确</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">
                        <span class="red">*</span>
                        E-mail地址
                    </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txt_email" name="txt_email" ng-model="vm.model.email" required custom-pattern ="email"placeholder="请输入Email"></div>
                    <div class="col-sm-4 error" ng-messages="vm.regForm.txt_email.$error">
                        <span class="help-block" ng-message="required">请输入Email</span>
                        <span class="help-block" ng-message="customPattern">Email格式不正确</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                        <button type="submit" class="btn btn-primary btn-lg">确认</button>
                        <button type="button" class="btn btn-default btn-lg"  ng-click="vm.backLogin();">返回</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>