.pswStrengthContainer
  width 300px
  font-size 12px

.pswStrength
  position relative
  font-weight normal
  vertical-align middle
  line-height 20px
  width 195px
  height 17px
  background-color #befaff
  border 1px solid #adc8d6
  float left
  margin-left 5px
  div
    width 63px
    height 13px
    margin 1px 0 1px 1px
    float left

.pswStrengthTip
  color #777777
  float left

.pswStr
  width 10px
  margin-left 5px
  float left

.weak
  background #8dcdfb !important

.medium
  background #58b4f4 !important

.strong
  background #3897e4 !important

