<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 对统一接入发布服务                       统一接入与服务消费方之间的zookeeper -->
	
	<!-- 登录接口对外公布 -->
	<dubbo:service retries="0"  interface="bros.c.login.facade.service.ICLoginServiceFacade" ref="cloginServiceFacade" />
	
	<!-- 登录接口对外公布 -->
	<dubbo:service retries="0"  interface="bros.c.login.facade.service.ICEBLoginServiceFacade" ref="cebloginServiceFacade" />
	
	<!-- 个人登录接口对外公布 -->
	<dubbo:service retries="0"  interface="bros.c.login.facade.service.ICPersonLoginServiceFacade" ref="cPersonLoginServiceFacade" />
	
	<!-- 当前服务是否存活 -->
	<dubbo:service retries="0"  interface="bros.c.monitor.service.ICApplicationAliveMonitorLoginServiceFacade" ref="capplicationAliveMonitorLoginServiceFacade" />
	
</beans>  