.account-box
    padding-top  20px
    width  100%
    height  410px
    background  url(../assets/img/layout/bg_account.jpg) top center
    .account
        position  relative
        margin  0 auto
        width  1000px
        height  390px
        .account-chart
            position  absolute
            width  700px
            height  390px
            position  absolute
            top  0
            left  0
            width  700px
            height  390px
            .title
                height  40px
                line-height  40px
                font-size  22px

.account-nav-box
    background  #fff
    .account-nav
        position  relative
        width  1000px
        height  41px
        margin  0 auto
        .nav
            position  absolute
            right  0
            height  41px
            li
                float  left
                margin-left  -1px
                height  41px
                border  #f5f5f5 1px solid
                a
                    display  inline-block
                    padding  0 40px
                    line-height  41px
                    font-size  16px
                    text-decoration  none
                    & hover
                        background  #f5f5f5
                        color  #58585a
                        font-weight  bold
        .active
            a
                background  #f5f5f5
                color  #58585a
                font-weight  bold
        .title
            position  absolute
            height  41px
            line-height  30px
            font-size  22px

.account-list-box
    position: relative
    margin-top: 20px
    background: #fff
    .account-list-title
        position: relative
        height: 205px
        .card-btn
            position: absolute
            left: 340px
            top: 140px
            button
                margin-right: 10px
                width: 100px
        .card-box
            position: absolute
            left: 20px
            top: 0px
            width: 290px
            height: 160px
            .card
                position: absolute
                left: 32px
                top: 10px
                overflow: hidden
                z-index: 2
                width: 226px
                height: 148px
                .card3
                    background: url(../assets/img/account/card03.png)
                .card2
                    background: url(../assets/img/account/card02.png)
                .card1
                    background: url(../assets/img/account/card01.png)
                .card-img
                    position: absolute
                    z-index: 2
                    bottom: -43px
                    width: 226px
                    height: 138px
                    cursor: pointer
                    &:hover
                        bottom: 4px
                    .card-number
                        position: absolute
                        bottom: 28px
                        width: 206px
                        color: #fff
                        text-align: right
            .card-mask
                position: absolute
                z-index: 5
                bottom: 0px
                width: 290px
                height: 40px
                background: url(../assets/img/account/card_mask.png)
                span
                    display: inline-block
                    position: absolute
                    width: 65px
                    height: 20px
                    text-align: center
                    left: 22px
                    top: 15px
                    color: #fff
        .card-info
            overflow: hidden
            position: absolute
            left: 320px
            top: 35px
            width: 660px
            height: 90px
            dl
                float: left
                width: 220px
                height: 60px
                margin-left: -1px
                border-left: 1px #e3e3e6 solid
                dt
                    font-size: 18px
    .account-list-detail-shadow
        width: 100%
        height: 5px
        margin-bottom: 10px
        font-size: 0
        -moz-box-shadow: 0 6px 10px rgba(0,0,0,.2)
        -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.2)
        box-shadow: 0 6px 10px rgba(0,0,0,.2)
    .account-list-detail
        padding: 15px
        .pageDiv
            text-align right
            .pagination
                margin 10px 0 0 0
        .tableList
            thead
                th
                    background: #e6f0f5
            tr
                &.hover
                    td
                        background-color: #fffed1
                &.odd
                    td
                        background-color: #fafdfe
                &.even
                    td
                        background-color: #f8f8f8
            th
                padding: 8px
                border: #d2dbdf 1px solid
                text-align: center
            table
                width: 100%
                border: 1px solid #d2dbdf
                background-color: #fff
            td
                padding: 8px
                border: #d2dbdf 1px solid
                text-align: center
    .account-opne-btn
        position: absolute
        top: 145px
        right: 20px
        width: 120px
        height: 20px
        line-height: 20px
        text-align: center
        cursor: pointer
        color: #cc5e14

.account-list-box .account-list-title .card-info dl dt,
.account-list-box .account-list-title .card-info dl dd
    text-align: center
    line-height: 30px
    font-size: 12px
    font-weight: 100


.my-fortune
    //background #fff
    margin-bottom 80px
    .finance-summary
        margin-bottom 10px
        .mask
            float right
            border 1px solid $grayBorder
            border-bottom 0
            color $blue
            border-top-left-radius 5px
            border-top-right-radius 5px
            height 30px
            width 60px
            padding 4px 18px
            background $lightBlue
            cursor pointer
            .fa
                font-size 20px
        .main
            //border 1px solid $grayBorder
            clear both
        .finance-title
            background $lightBlue
            height 90px
            border-bottom 1px solid $grayBorder
            .title
                font-size 14px
                text-align center
            .content
                font-size 26px
                text-align center
            .sybol
                font-size 12px
            .summary
                float left
                padding 15px 5px
                width 200px
                height 90px
                color $blue
                border-right 1px solid $grayBorder
                border-top 2px solid $blue
                background #fff
            .summary-part
                height 90px
                .account-detail
                    border-left 1px solid $grayBorder
                    text-align center
                    padding 30px 0
                    width 100px
                    height 90px
                    float right
                .title,.content
                    color #333333
                .content
                    font-size 24px
                .oper
                    padding 15px 7px
                    width 20px
                    font-size 28px
                    display inline-block

                .part
                    padding 15px 0px
                    width 180px
                    display inline-block
                .btn-container
                    display inline-block
                    .btn-important,.btn-general
                        width 60px
                        height 28px
                        padding 0
                        font-size 12px
                    .btn-important
                        margin-right 5px
        .finance-body
            clear both
            height 300px
            padding 40px 10px 20px 10px
            .shadow-line
                box-shadow  0px 3px 5px #ccc
                width 100%
                height 1px
                background #f1f1f1
            .pieChart
                height 250px
            .lineChart
                position relative
                height 250px
                width 400px
                .no
                    margin-left 10px
                    font-weight $bold
            .finance-row
                margin-top 10px
                margin-bottom 10px
                .product-name
                    font-size 12px
                    padding-right 0px
                    margin-top 3px
                .col-md-1
                    margin-right 0
                    padding-right 0
                    width 5%
                    font-size 12px
                .circle
                    margin-top 6px
                    width: 8px
                    height: 8px
                    border-radius: 50%
                .money
                    font-size 18px
                    color #555
                    font-family Arial
                    margin-right 3px
                .oper
                    font-size 12px
                    color $blue
                .operlink
                    cursor pointer
                    display inline-block
                    padding 0 5px
                    border-right 1px solid $grayBorder
                    &:last-child
                        border-right 0
        .finance-footer
            height 82px
            background #f7f7f7
            border-top 1px solid $grayBorder
            .row
                margin 0
            .col-md-6
                cursor pointer
                &:first-child
                    border-right 1px solid $grayBorder
                &:hover
                    background #f1f1f1
            .point,.account
                width 160px
                margin 0 auto
                background-repeat no-repeat
                background-position 5px 20px
                padding 20px
                padding-left 50px
                .title
                    font-size 14px
                    color #333
                .content
                    font-size 12px
                    color #777
                    letter-spacing 2px
                .number
                    font-size 16px
                    color #777
                    font-family arial
    .my-credit-cards
        background #fff
        padding 0 5px 0 14px
        .card-summary
            margin-bottom 10px
            font-size 12px
            .bold
                font-weight bold
                display inline-block
                margin-right 5px
            .num
                color $blue
                font-weight bold
                display inline-block
                margin 0 2px
                font-size 14px
        .card-container
            float left
            margin-right 10px
    .proft-panel
        .profit-desc
            font-weight bold
            .profit-title
                font-size 14px
            .profit-today
                font-size 32px
                color $red
            .profit-accumulation
                font-size 32px
        .barChart
            position relative
            height 50px


