.form-control
    border-radius 0px!important

.input-group-addon
    border-radius 0px!important

.btn
    border-radius 2px!important

.form-horizontal
    .form-group
        margin-left 0
        margin-right 0
    .control-label
        font-weight normal
    // .form-control
    //     background-color #f3f9fc

.modal-dialog
    margin-top 90px
    .modal-body
        max-height 500px
        overflow-y auto
        .page-header
            padding 0 10px

.loading-mask
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-color #fff
    z-index 100
    opacity 0.5
    z-index 100

.loading-mask-icon
    margin 0 auto
    margin-top 35%
    display block

.page-header
    border-bottom-color #dddddd
    color #616161
    font 20px "microsoft yahei"
    padding 0
    margin 20px 0 10px 0
    h4
        border-left 3px solid #2486c4
        margin 0.4em 0
        padding 3px 10px
.page-form
    margin-top 3px
    padding 10px 90px
    background-color #fff
    min-height 100%
    @media $smart
        padding 10px
    .form-horizontal
        .form-group
            margin 0 -90px 15px -90px
            @media $smart
                margin 0 0 15px 0
        .form-control
            font-size 12px
    .btn-important
        width 300px
        margin-top 20px
    .confirm-cardno
        font-weight bolder
        font-size 18px
        color #135dbc
        height 40px
    .form-group
        .require
            color red
.page-form .btn-confirm, .page-form .btn-confirm:hover
    background $redButton
    color white
    font-size 24px
    font-family "Microsoft Yahei"
    height 50px
    width 304px
