<div>
    <div class="footer-login" ng-show="$root.hideTopMenu">
        <p><a href="#">关于我们</a><span>|</span><a href="#">帮助中心</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">意见反馈</a></p>
        <p><span>京ICP证150277号</span><span>京ICP备15002532号</span><span>UISFTECH © 2016 联创智融科技有限公司</span></p>
    </div>
    <div class="footer" ng-show="$root.hideFooter">
        <p><a href="#">关于我们</a><span>|</span><a href="#">帮助中心</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">意见反馈</a></p>
        <p><span>京ICP证150277号</span><span>京ICP备15002532号</span><span>UISFTECH © 2016 联创智融科技有限公司</span></p>
    </div>
</div>
