/*软键盘*/
.softKeyboard {
    width: 294px;
    position: absolute;
    z-index: 999;
    border: 1px solid #dedede;    /*background:#f1f1f1;*/
    background: rgba(89, 97, 103, 0.7);
    padding: 1px;
    font-family: '微软雅黑';
}
.softKeyboard button {
    background: #f8f8f8;
    color: #333;
    border: 0;
}
.softKeyboard button:hover {
    background: #d1d1d1;
}
.softKeyboard  ul {
    margin: 0;
    padding: 0;
    height: 28px;
}
.softKeyboard  ul li {
    margin: 2px;
    padding: 0;
    float: left;
    list-style: none;
}
.softKeyboard .keyboardHeader .operation, .delete {
    width: 54px;
}
.softKeyboard .keyboardBody button {
    width: 25px;
    height: 25px;
}
.softKeyboard .keyboardBody .operation {
    width: 54px;
    background: #135dbc;
    color: #f8f8f8;
}
.softKeyboard .keyboardBody .operation:hover {
    background: #135dbc;
}
.softKeyboard .keyboardBody .delete {
    width: 54px;
}
