
<div class="softKeyboard" ng-style="style" ng-show="isShowKeyboard">

    <div class="keyboardHeader clearfix">
        <ul>
            <li class="pull-left"  ng-hide="onlydigit"><button  type="button" ng-click="closeKeyboard()">切换到键盘</button></li>
            <li class="pull-right" ng-hide="onlydigit"><button  type="button" ng-click="setCapsLock()">切换大小写</button></li>

            <li class="pull-right"  ng-show="onlydigit"><button  type="button" class="operation"  ng-click="closeKeyboard()">确定</button></li>
            <li class="pull-right" ng-show="onlydigit"><button  type="button" class="delete" ng-click="deleteKey()" ><span class="fa fa-arrow-left"></span></button></li>
        </ul>
    </div>
    <div class="keyboardBody ">

        <ul class="clearfix">
            <li><button type="button" ng-click="addKey(keyNumArray[0])">{{keyNumArray[0]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[1])">{{keyNumArray[1]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[2])">{{keyNumArray[2]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[3])">{{keyNumArray[3]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[4])">{{keyNumArray[4]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[5])">{{keyNumArray[5]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[6])">{{keyNumArray[6]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[7])">{{keyNumArray[7]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[8])">{{keyNumArray[8]}}</button></li>
            <li><button type="button" ng-click="addKey(keyNumArray[9])">{{keyNumArray[9]}}</button></li>
        </ul>

        <div  ng-hide="onlydigit">
            <ul class="clearfix">
                <li><button type="button" ng-click="addKey(keyCharArray[0])">{{keyCharArray[0]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[1])">{{keyCharArray[1]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[2])">{{keyCharArray[2]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[3])">{{keyCharArray[3]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[4])">{{keyCharArray[4]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[5])">{{keyCharArray[5]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[6])">{{keyCharArray[6]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[7])">{{keyCharArray[7]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[8])">{{keyCharArray[8]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[9])">{{keyCharArray[9]}}</button></li>
            </ul>

            <ul  class="clearfix">
                <li><button type="button" ng-click="addKey(keyCharArray[10])">{{keyCharArray[10]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[11])">{{keyCharArray[11]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[12])">{{keyCharArray[12]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[13])">{{keyCharArray[13]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[14])">{{keyCharArray[14]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[15])">{{keyCharArray[15]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[16])">{{keyCharArray[16]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[17])">{{keyCharArray[17]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[18])">{{keyCharArray[18]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[19])">{{keyCharArray[19]}}</button></li>

            </ul>

            <ul  class="clearfix">
                <li><button type="button" ng-click="addKey(keyCharArray[20])">{{keyCharArray[20]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[21])">{{keyCharArray[21]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[22])">{{keyCharArray[22]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[23])">{{keyCharArray[23]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[24])">{{keyCharArray[24]}}</button></li>
                <li><button type="button" ng-click="addKey(keyCharArray[25])">{{keyCharArray[25]}}</button></li>

                <li><button  type="button" class="delete" ng-click="deleteKey()" ><span class="fa fa-arrow-left"></span></button></li>
                <li><button  type="button" class="operation"  ng-click="closeKeyboard()">确认</button></li>
            </ul>
        </div>
    </div>
</div>