.content-part1 table tr td:nth-child(1),.content-part1 table tr td:nth-child(3)
	width: 200px
	height: 39px
	border: 1px solid #e2e2e2
	text-indent: 15px
	line-height: 39px
	background-color: #ececec
	font-weight: bold

.part3-top
	p
		font-size: 22px
		float: left

.part1-top a,.part3-top a,.part4-top a
	float: right
	border: 1px solid #148fcc
	text-decoration: none
	line-height: 24px
	padding: 0 13px
	color: #49a0d3
	margin-right: 8px

.part2-top
	p
		font-size: 22px

.content-part1 table tr td:nth-child(2),.content-part1 table tr td:nth-child(4)
	width: 260px
	height: 39px
	border: 1px solid #e2e2e2
	text-indent: 15px
	line-height: 39px

.content-part2 table tr td:nth-child(1),.content-part2 table tr td:nth-child(2),.content-part2 table tr td:nth-child(3),.content-part2 table tr td:nth-child(4),.content-part2 table tr td:nth-child(5),.content-part2 table tr td:nth-child(6),.content-part2 table tr td:nth-child(7),.content-part2 table tr td:nth-child(8),.content-part2 table tr td:nth-child(9),.content-part2 table tr td:nth-child(10)
	border: 1px solid #e2e2e2
	text-align: center
	padding: 15px 0

.content-inner
	width: 1000px
	margin: 0 auto

.part4-top
	p
		font-size: 22px
		float: left

.content-part3
	table
		tr
			&:last-child
				td
					height: 129px
					padding: 16px 0 0 14px
					&:last-child
						line-height: 129px
			td
				width: 250px
				height: 60px
				border: 1px solid #e2e2e2
				.email
					color: #148fcc
					padding: 10px 0px
					text-decoration: none
				&:nth-child(1)
					width: 165px
				&:last-child
					color: #3297cf
					text-align: center
				&:nth-child(2)
					width: 312px
				.vacancy
					width: 86px
					height: 24px
					display: inline-block
					background-color: #148fcc
					text-align: center
					line-height: 24px
					color: #fff
					text-decoration: none
					margin: 10px 0 14px 0
				p
					line-height: 20px
			&:nth-child(2)
				td
					height: 189px
					padding: 16px 0 0 14px
					&:last-child
						line-height: 189px
			&:first-child
				td
					background-color: #ececec
					text-align: center
					line-height: 60px
					font-weight: bold

.content-part2
	table
		tr
			td
				&:nth-child(6)
					width: 9px
				&:nth-child(1)
					width: 92px
				&:nth-child(3)
					width: 80px
				&:nth-child(10)
					width: 24px
				&:nth-child(9)
					width: 77px
				&:nth-child(7)
					width: 61px
			&:first-child
				td
					font-weight: bold
					background-color: #ececec

.content-part4
	margin-bottom: 42px
	table
		tr
			td
				&:last-child
					width: 270px
					height: 40px
					border: 1px solid #e2e2e2
					text-align: center
				a
					padding: 0 13px
					height: 24px
					display: inline-block
					text-align: center
					line-height: 24px
					background-color: #148fcc
					color: #fff
					text-decoration: none
					margin-top: 10px
				&:first-child
					width: 730px
					height: 40px
					background-color: #ececec
					border: 1px solid #e2e2e2
					padding-left: 170px
					line-height: 40px
					color: #148fcc

.part1-top
	p
		font-size: 22px
		float: left

.part1-top,.part2-top,.part3-top,.part4-top
	height: 38px
	border-bottom: 1px solid #ececec
	margin-top: 28px
	margin-bottom: 15px

.content-part2 table tr td:nth-child(2),.content-part2 table tr td:nth-child(5)
	width: 72px

.content-part2 table tr td:nth-child(4),.content-part2 table tr td:nth-child(8)
	width: 160px

.a-table
	width: 1000px