.modal-dialog
    .modal-body
        padding 0
        margin-right 0
        .page-form
            .registerAgreement
                padding 15px

.registerAgreementModal
    .modal-header
        .close
            right 15px
    .modal-body
        overflow auto

