<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.single.table.bmamenuproserrel">
	<sql id="menu_proser_rel_param">
		BMPR_ID,
		BMPR_MENUCODE,
		BMPR_PRDTYPECODE,
		BMPR_GOODSCODE,
		BMPR_SHELFCODE
	</sql>
	<resultMap type="java.util.HashMap" id="menuProSerRelMap">
		<result property="menuId" column="BMPR_ID" />
		<result property="menuCode" column="BMPR_MENUCODE" />
		<result property="prdTypeCode" column="BMPR_PRDTYPECODE" />
		<result property="goodsCode" column="BMPR_GOODSCODE" />
		<result property="shelfCode" column="BMPR_SHELFCODE" />
	</resultMap>
	
	<!-- 批量新增关联关系信息-->
	<insert id="insertMenuProSerRel" parameterType="java.util.HashMap">
		insert into BMA_MENU_PROSER_REL (
		<include refid="menu_proser_rel_param" />) 
		   values
		    <foreach collection="list" item="item" index="index" separator="," >
			  (#{item.menuId},#{item.menuCode}, #{item.prdTypeCode}, #{item.goodsCode},#{item.shelfCode})
		    </foreach>
	</insert>
	
	<!-- 单笔新增关联关系信息-->
	<insert id="insertOneMenuProSerRel" parameterType="java.util.HashMap">
		insert into BMA_MENU_PROSER_REL (
		<include refid="menu_proser_rel_param" />) 
		   values (
		     #{menuId},
		     #{menuCode},
		     #{prdTypeCode},
		     #{goodsCode},
		     #{shelfCode}
		     )
	</insert>
	
	<!-- 单笔删除关联关系信息-->
	<delete id="deleteMenuProSerRel" parameterType="java.util.HashMap">
		delete from BMA_MENU_PROSER_REL 
	    <![CDATA[ 
	     where BMPR_SHELFCODE = #{shelfCode} and BMPR_GOODSCODE = #{goodsCode} and BMPR_MENUCODE = #{menuCode}
	    ]]>
	</delete>
	
	<!-- 修改关联关系表信息 -->
	<update id="updateMenuProSerRelInfo" parameterType="java.util.HashMap">
		update BMA_MENU_PROSER_REL 
      		<![CDATA[ 
		       set BMPR_SHELFCODE = #{shelfCode},BMPR_GOODSCODE = #{goodsCode},BMPR_PRDTYPECODE = #{prdTypeCode}
			   where 1 = 1
       		]]>
       	<if test="oldShelfCode != null and oldShelfCode != '' ">
			and BMPR_SHELFCODE = #{oldShelfCode}
		</if>
		<if test="oldGoodsCode != null and oldGoodsCode != '' ">
			and BMPR_GOODSCODE = #{oldGoodsCode}
		</if>
		<if test="oldPrdTypeCode != null and oldPrdTypeCode != '' ">
			and BMPR_PRDTYPECODE = #{oldPrdTypeCode}
		</if>
		<if test="menuCode != null and menuCode != '' ">
			and BMPR_MENUCODE = #{menuCode}
		</if>
	</update>
	<!--查询关联关系信息 -->
	<select id="queryMenuProSerRel" resultMap="menuProSerRelMap">
		select
		<include refid="menu_proser_rel_param" />
		from BMA_MENU_PROSER_REL
	     <![CDATA[ 
	     	where 1 = 1 
	     ]]>
	     <if test="menuId != null and menuId != '' ">
			and BMPR_ID = #{menuId}
		</if>
		<if test="shelfCode != null and shelfCode != '' ">
			and BMPR_SHELFCODE = #{shelfCode}
		</if>
		<if test="goodsCode != null and goodsCode != '' ">
			and BMPR_GOODSCODE = #{goodsCode}
		</if>
		<if test="menuCode != null and menuCode != '' ">
			and BMPR_MENUCODE = #{menuCode}
		</if>
		<if test="prdTypeCode != null and prdTypeCode != '' ">
			and BMPR_PRDTYPECODE = #{prdTypeCode}
		</if>
	</select>
	<!--查询关联关系信息总条数 -->
	<select id="queryMenuProSerRelTotalNum" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from BMA_MENU_PROSER_REL
	     <![CDATA[ 
	     	where 1 = 1 
	     ]]>
	     <if test="menuId != null and menuId != '' ">
			and BMPR_ID = #{menuId}
		</if>
		<if test="shelfCode != null and shelfCode != '' ">
			and BMPR_SHELFCODE = #{shelfCode}
		</if>
		<if test="goodsCode != null and goodsCode != '' ">
			and BMPR_GOODSCODE = #{goodsCode}
		</if>
		<if test="menuCode != null and menuCode != '' ">
			and BMPR_MENUCODE = #{menuCode}
		</if>
		<if test="prdTypeCode != null and prdTypeCode != '' ">
			and BMPR_PRDTYPECODE = #{prdTypeCode}
		</if>
	</select>
</mapper>