<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="mybatis.mapper.single.table.publogbackdetail">
	<sql id="pub_log_backdetail_param">
		PLL_FLOWSEQ,
		PLL_UPBIZDATA,
		PLL_DOWNBIZDATA
	</sql>
	
	<!-- 调用BIP服务日志详细插入 -->
	<insert id="insertPubLogBackDetail" parameterType="java.util.HashMap">
		insert into PUB_LOGBACKDETAIL (
				<include refid="pub_log_backdetail_param" />) 
	    values(
	         #{flowSeq},
	   		 #{upBizData,javaType=String,jdbcType=VARBINARY,typeHandler=bros.common.core.mybatis.handler.StringOrVarbinaryTypeHandler},
	   		 #{downBizData,javaType=String,jdbcType=VARBINARY,typeHandler=bros.common.core.mybatis.handler.StringOrVarbinaryTypeHandler}
	       )

	</insert>
	
	<!-- 调用BIP服务日志详细更新 -->
	<update id="updatePubLogBackDetail" parameterType="java.util.HashMap">
		update PUB_LOGBACKDETAIL
		<set>
			<if test="downBizData !='' and downBizData != null">
				PLL_DOWNBIZDATA = #{downBizData,javaType=String,jdbcType=VARBINARY,typeHandler=bros.common.core.mybatis.handler.StringOrVarbinaryTypeHandler},
			</if>
		</set>
		where PLL_FLOWSEQ = #{flowSeq} 
	</update>

</mapper>