<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="mybatis.mapper.single.table.ttpacclimit">
	<sql id="ttp_acc_limit_param">
		TAL_CSTNO,
		TAL_ACCNO,
		TAL_CHANNEL,
		TAL_BIZTYPE,
		TAL_LEGALID,
		TAL_SINGLEMAX,
		TAL_DAYMAX
	</sql>
    <resultMap type="java.util.HashMap" id="ttpAccLimitResultMap">
    	<result property="cstNo"     column="TAL_CSTNO"/>
    	<result property="accNo"     column="TAL_ACCNO"/>
    	<result property="channel"   column="TAL_CHANNEL"/>
    	<result property="bizType"   column="TAL_BIZTYPE"/>
    	<result property="legalId"   column="TAL_LEGALID"/>
    	<result property="singleMax" column="TAL_SINGLEMAX" javaType="java.lang.String" jdbcType="DECIMAL"/>
    	<result property="dayMax"    column="TAL_DAYMAX"    javaType="java.lang.String" jdbcType="DECIMAL"/>
    </resultMap>
    
     <!-- 查询企业自定义账户限额信息 -->
	<select id="queryTtpAccLimit" resultMap="ttpAccLimitResultMap" parameterType="java.util.HashMap">
		select
		<include refid="ttp_acc_limit_param" />
				from TTP_ACC_LIMIT
		       <![CDATA[ 
		       where TAL_CHANNEL = #{channel}
		        and  TAL_CSTNO = #{cstNo}
		        and  TAL_ACCNO = #{accNo}
		        and  TAL_LEGALID = #{legalId}
		        ]]>
		        <if test="bizType!=null and bizType!=''">
		           and  TAL_BIZTYPE = #{bizType}
		        </if>
	</select>
	
    <!-- 更新自定义账户限额信息 -->
	<update id="updateTtpAccLimit" parameterType="java.util.HashMap">
		update TTP_ACC_LIMIT 
		       <![CDATA[ 
	          	set  TAL_SINGLEMAX = #{singleMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler},
				 	 TAL_DAYMAX = #{dayMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler}
		       where TAL_CHANNEL = #{channel} 
		        and  TAL_CSTNO = #{cstNo} 
		        and  TAL_LEGALID = #{legalId}
		        and  TAL_ACCNO = #{accNo}
		      	 ]]>
		      	 <if test="bizType!=null and bizType!=''">
		           and  TAL_BIZTYPE = #{bizType}
		        </if>
	</update>
	
    <!-- 设置自定义账户限额 -->
    <insert id="insertTtpAccLimit" parameterType="java.util.HashMap">
   		 insert into TTP_ACC_LIMIT ( <include refid="ttp_acc_limit_param"/>) 
			    <![CDATA[ 
			    values(
			   		 #{cstNo},
			   		 #{accNo},
			   		 #{channel},
			         #{bizType},
			         #{legalId},
			         #{singleMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler},
			         #{dayMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler}
			       )
			    ]]>  
    </insert>
    
    <!-- 批量设置客户自定义限额 -->
    <insert id="insertBatchTtpAccLimit" parameterType="java.util.HashMap">
    		insert into TTP_ACC_LIMIT 
    		( <include refid="ttp_acc_limit_param"/>) 
    		values
			      <foreach collection="list" item="item" index="index" separator="," >
				        (#{item.cstNo},#{item.accNo},#{item.channel},#{item.bizType},
				         #{item.legalId},#{item.singleMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler}
				         ,#{item.dayMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler}
				        )
	   			 </foreach>  
    </insert>
    <!-- 批量更新客户自定义限额 -->
    <update id="updateBatchTtpAccLimit" parameterType="java.util.HashMap">
	        <foreach collection="list" item="item" index="index" separator=";" >
	         update TTP_ACC_LIMIT 
	          	set  TAL_SINGLEMAX = #{item.singleMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler},
				 	 TAL_DAYMAX = #{item.dayMax,javaType=Object,jdbcType=DECIMAL,typeHandler=bros.common.core.mybatis.handler.ObjectOrNumericTypeHandler}
		       where TAL_CHANNEL = #{item.channel} 
		        and  TAL_CSTNO = #{item.cstNo} 
		        and  TAL_ACCNO = #{item.accNo} 
		        and  TAL_LEGALID = #{item.legalId}
	      	  <if test="item.bizType!=null and item.bizType!=''">
				   and  TAL_BIZTYPE = #{item.bizType}
			 </if>
			 </foreach>  
    </update>
</mapper>