*
    margin 0
    padding 0
.banner
    position relative
    width 100%
    height 456px
    background url(../assets/img/layout/banner.jpg) top center no-repeat
    margin 0
// 首页产品列表(2列)
.product-list-two
    display block
    width 1000px
    .title-bar
        position relative
        height 66px
        .bar
            a
                position absolute
                right 0
                padding-top 20px
                height 56px
                line-height 56px
        .title
            position absolute
            left 0
            padding-top 20px
            height 56px
            line-height 56px
            font-size 22px
    .product-list-box
        width 1000px
        overflow hidden
        .product-list
            display block
            margin-left -20px
            width 1020px
            .list
                position relative
                float left
                margin 20px 0 0 20px
                padding 20px
                width 490px
                min-height 210px
                background #fff
                .product-over
                    position absolute
                    top 90px
                    right 15px
                    width 110px
                    height 110px
                    background url(../assets/img/layout/bg_over.png)
                .img
                    float left
                    padding 10px
                    width 160px
                    height 160px
                    img
                        width 160px
                        height 160px
                .img2
                    float left
                    padding 0px
                    width 180px
                    height 150px
                    img
                        width 180px
                        height 150px
                .product-info
                    float right
                    padding 0 10px
                    width 260px
                    .big-font
                        font-size 32px
                        color $orange
                        span
                            font-size 12px
                    .product-but
                        .btn
                            width 150px
                            height 40px
                            font-size 16px
                    li
                        padding 5px 0
                        color #7b7b7b
                    .product-title
                        font-size 18px
                    .product-tag
                        span
                            display inline-block
                            margin 0 2px
                            padding 0 6px
                            height 22px
                            font-size 12px
                            color #cc8866
                            border #cc8866 1px solid
                            line-height 20px
                            -moz-border-radius 3px
                            -webkit-border-radius 3px
                            border-radius 3px

.recommend-product
    position absolute
    top 0
    right 0
    padding 0 20px
    width 300px
    height 390px
    
    
    .img
        padding 10px 0
        img
            width 260px
    .product-info
        .big-font
            font-size 32px
            color #cc5e14
            span
                font-size 12px
        .product-but
            .btn
                width 150px
                height 40px

        .product-title
            font-size 18px
        .product-tag
            span
                display inline-block
                margin 0 2px
                padding 0 6px
                height 22px
                font-size 12px
                color #cc8866
                border #cc8866 1px solid
                line-height 20px
                -moz-border-radius 3px
                -webkit-border-radius 3px
                border-radius 3px
    .title
        height 40px
        line-height 40px
        font-size 22px

.account-box
    padding-top 20px
    width 100%
    height 410px
    background url(../assets/img/layout/bg_account.jpg) top center
    .account
        position relative
        margin 0 auto
        width 1000px
        height 390px
        .account-chart
            position absolute
            width 700px
            height 390px
            position absolute
            top 0
            left 0
            width 700px
            height 390px
            .title
                height 40px
                line-height 40px
                font-size 22px







    

    .tex
       
        b
            color #f04b09
        span
            background-color rgb(243, 87, 35)
            text-align center
            line-height 20px
            display inline-block
            color #fff
            margin 3px
            border-radius 3px

    .recommend-product
        width 300px
        height 390px
        background-color #f9fafc

    .product-info1
        li
            list-style none
            margin-top 18px
            border 1px solid #cecece
            width 255px
            height 60px
            border-radius 5px
            line-height 26px
        span
            display block
            float left
            margin 0 2px
            padding 0 6px
            height 50px
            
            font-size 12px
            color #fff
            border #c86 1px solid
            line-height 50px
            border-radius 3px
            margin-top 4px

    .gunlun
        overflow hidden
        height 300px


