// r        color:#ea1111   红色
// b        color:#135dbc   蓝色
// w        color:#fff      白色
// y        color:#faeccd   黄色
// gn1      color:#70b147   绿色1
// gn2      color:#2d7116   绿色2
// oy       color:#f60      橘黄色
// gy3      color:#333
// gy5      color:#555
// gy7      color:#777
// gy9      color:#999
// 12       font-size:12px
// 14       font-size:14px
// 16       font-size:16px
// 18       font-size:18px
// 20       font-size:20px
// 24       font-size:24px
// 26       font-size:26px
// 30       font-size:30px

// ***************  red  ***************** //

.font_r_12
    color #ea1111
    font-size 12px
    font-weight normal

.font_r_14
    color #ea1111
    font-size 14px
    font-weight normal

.font_r_16
    color #ea1111
    font-size 16px
    font-weight normal

.font_r_18
    color #ea1111
    font-size 18px
    font-weight normal

.font_r_20
    color #ea1111
    font-size 20px
    font-weight normal

.font_r_24
    color #ea1111
    font-size 24px
    font-weight normal

.font_r_26
    color #ea1111
    font-size 26px
    font-weight normal

.font_r_30
    color #ea1111
    font-size 30px
    font-weight normal

.font_r_40
    color #ea1111
    font-size 40px
    font-weight normal

// ***************  blue  ***************** //

.font_b_12
    color #135dbc
    font-size 12px
    font-weight normal

.font_b_14
    color #135dbc
    font-size 14px
    font-weight normal

.font_b_16
    color #135dbc
    font-size 16px
    font-weight normal

.font_b_18
    color #135dbc
    font-size 18px
    font-weight normal

.font_b_20
    color #135dbc
    font-size 20px
    font-weight normal

.font_b_24
    color #135dbc
    font-size 24px
    font-weight normal

.font_b_26
    color #135dbc
    font-size 26px
    font-weight normal

.font_b_30
    color #135dbc
    font-size 30px
    font-weight normal

// ***************  gray3  ***************** //

.font_gy3_12
    color #333
    font-size 12px
    font-weight normal

.font_gy3_14
    color #333
    font-size 14px
    font-weight normal

.font_gy3_16
    color #333
    font-size 16px
    font-weight normal

.font_gy3_18
    color #333
    font-size 18px
    font-weight normal

.font_gy3_20
    color #333
    font-size 20px
    font-weight normal

.font_gy3_24
    color #333
    font-size 24px
    font-weight normal

.font_gy3_26
    color #333
    font-size 26px
    font-weight normal

.font_gy3_30
    color #333
    font-size 30px
    font-weight normal

// ***************  gray5  ***************** //

.font_gy5_12
    color #555
    font-size 12px
    font-weight normal

.font_gy5_14
    color #555
    font-size 14px
    font-weight normal

.font_gy5_16
    color #555
    font-size 16px
    font-weight normal

.font_gy5_18
    color #555
    font-size 18px
    font-weight normal

.font_gy5_20
    color #555
    font-size 20px
    font-weight normal

.font_gy5_24
    color #555
    font-size 24px
    font-weight normal

.font_gy5_26
    color #555
    font-size 26px
    font-weight normal

.font_gy5_30
    color #555
    font-size 30px
    font-weight normal

// ***************  gray7  ***************** //

.font_gy7_12
    color #777
    font-size 12px
    font-weight normal

.font_gy7_14
    color #777
    font-size 14px
    font-weight normal

.font_gy7_16
    color #777
    font-size 16px
    font-weight normal

.font_gy7_18
    color #777
    font-size 18px
    font-weight normal

.font_gy7_20
    color #777
    font-size 20px
    font-weight normal

.font_gy7_24
    color #777
    font-size 24px
    font-weight normal

.font_gy7_26
    color #777
    font-size 26px
    font-weight normal

.font_gy7_30
    color #777
    font-size 30px
    font-weight normal

// ***************  gray9  ***************** //

.font_gy9_12
    color #999
    font-size 12px
    font-weight normal

.font_gy9_14
    color #999
    font-size 14px
    font-weight normal

.font_gy9_16
    color #999
    font-size 16px
    font-weight normal

.font_gy9_18
    color #999
    font-size 18px
    font-weight normal

.font_gy9_20
    color #999
    font-size 20px
    font-weight normal

.font_gy9_24
    color #999
    font-size 24px
    font-weight normal

.font_gy9_26
    color #999
    font-size 26px
    font-weight normal

.font_gy9_30
    color #999
    font-size 30px
    font-weight normal











