<div class="main-box">
    <div class="titile-step">
            <div class="title">密码重置</div>
            <div class="step"><span class="current"><i>1</i>验证身份信息认证</span><span><i>2</i>设置新密码</span><span><i>3</i>密码设置结果信息</span></div>
        </div>
    <div class="trading-one-box">

        <div class="ebank-input-box">
            <div class="ebank-input-title">验证身份信息认证</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">账号/卡号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>卡号类型</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="11">借记卡</option>
                            <option value="12">活期一本通</option>
                            <option value="13">定期一本通</option>
                            <option value="14">普通存折</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>账号/卡号密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>客户姓名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>证件类型</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="1">居民身份证</option>
                            <option value="2">临时身份证</option>
                            <option value="3">军官证</option>
                            <option value="4">武警证</option>
                            <option value="5">士兵证</option>
                            <option value="6">文职干部证</option>
                            <option value="7">外国护照</option>
                            <option value="8">香港通行证</option>
                            <option value="9">澳门通行证</option>
                            <option value="10">台湾通行证</option>
                            <option value="11">其他证件</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>证件号码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>联系电话</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>E-mail地址</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                        <button type="submit" class="btn btn-primary btn-lg">确认</button>
                        <button type="button" class="btn btn-default btn-lg">返回</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="ebank-input-box">
            <div class="ebank-input-title">设置新密码</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">网银登录密码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">重新输入网银登录密码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">客户昵称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>私密问题</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="1">请选择私密问题</option>
                            <option value="2">您父亲的生日是？</option>
                            <option value="3">您母亲的生日是？</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">私密问题答案</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                        <button type="submit" class="btn btn-primary btn-lg">确认</button>
                        <button type="button" class="btn btn-default btn-lg">上一步</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="ebank-input-box">
            <form class="form-horizontal">
                <div class="ebank-input-title">密码重置结果信息</div>
                <div class="alert alert-success" role="alert"><strong>密码找回成功!</strong>
系统5秒后将会自动跳转到登录页面，如果没有自动跳转，请点击登录。</div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-6 btn-box-big ">
                        <button type="button" class="btn btn-default btn-lg" ui-sref="login">返回登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
