.resultWindowsBox
    position: absolute
    z-index: 99999
    left: 50%
    top: 50%
    width: 600px
    padding: 15px
    background: #fff

.btn-Gray:active, .btn-Gray-active
    background-position: -0px -192px

.btn-Primary:active, .btn-Primary-active
    background-position: -0px -384px

.resultBoxWarning
    background: #f5f2e8
    .resultIco
        background-position: -336px -190px

.btn-Primary:active span, .btn-Primary-active span
    background-position: right -416px

.resultBoxTips
    background: #e3eef4
    .resultIco
        background-position: -432px -190px

.btn-Gray:active span, .btn-Gray-active span
    background-position: right -224px
    color: #555

.btn-Primary
    background-position: -0px -256px
    &:hover
        background-position: -0px -320px
        span
            background-position: right -352px
    span
        background-position: right -288px

.resultBox
    position: relative
    padding: 10px
    background: #eff6e8
    .resultInfo
        margin-left: 140px
        width: 430px
        .btnBox
            padding: 0
            padding-top: 10px
            a
                margin: 0
                margin-right: 5px
    dl
        dt
            padding: 10px 0
            font-size: 18px
            font-weight: bold
        dd
            span
                padding: 0 5px
    .resultIco
        position: absolute
        left: 34px
        top: 20px
        width: 80px
        height: 80px
        background: url(../assets/img/layout/ico.png) -144px -190px

.resultBoxError
    background: #f3e8e7
    background: #f3e8e7
    .resultIco
        background-position: -240px -190px
        background-position: -240px -190px
.resultBoxTips
    background: #e3eef4
    .resultIco
        background-position: -432px -190px

.resultBoxWarning
    background: #f5f2e8
    .resultIco
        background-position: -336px -190px


.btn-Gray
    background-position: -0px -64px
    &:hover
        background-position: -0px -128px
        span
            background-position: right -160px
    span
        background-position: right -96px
        color: #555


