<div class="resultWindowsBox" style="margin-top: 100px; margin-left: -315px;" ng-controller="ShowmessageController as vm">
    <div class="resultBox">
        <div class="resultIco"></div>
        <div class="resultInfo">
          <dl>
            <dt>成功！</dt>
            流水号：<strong ng-bind="vm.serialNo"></strong>
            <dd ng-bind="vm.returnMsg"></dd>
          </dl>
            <div class="btnBox">
            <div></div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.surebut()">确定</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.close()">关闭</button>
            </div>
        </div>
    </div>
</div>



