.modal-dialog
    .modal-header
        padding 0
        border none
        min-height 0
        .close
            z-index 1000
            width 36px
            height 27px
            padding 8px 0 0 8px
            background url('/assets/img/register/close.png') no-repeat
            position absolute
            right 0
            top 16px
            display block
            i
                width 9px
                height 9px
                background url('/assets/img/register/i_cross.gif') no-repeat
                display block
                transition transform 1s ease
                cursor pointer
                &:hover
                    transform rotate(300deg)
                    -ms-transform rotate(300deg)        // IE 9
                    -moz-transform rotate(300deg)       // Firefox
                    -webkit-transform rotate(300deg)    // Safari && Chrome
                    -o-transform rotate(300deg)         // Opera */
    .modal-body
        overflow-x hidden
        overflow-y: auto
        padding 0
        margin-right 36px
        .page-form
            .form-horizontal
                padding 0 15px
            .modal-btn
                text-align center
                margin 20px
    .modal-body2

        height 130px
