<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.relational.table.prdptparspec-prdattriparamspec">
	<sql id="prd_attri_param">
		a.PPC_PROPERTY,
		a.PPC_PROPERTYNAME,
		a.PPC_SETVALUE,
		a.PPC_DESCRIPTION,
		d.PPT_PRODUCTCODE, 
		d.PPT_PRDNAME,
		d.PPT_CATECODE, 
		d.PPT_PRDTYPECODE,
		f.ppe_prdtypecode,
		f.ppe_prdtypename
	</sql>
	<sql id="prd_default_attri_param">
		b.PPC_PROPERTY,
		b.PPC_PROPERTYNAME,
		b.PPC_DEFAULTVAL,
		b.PPC_NOTE1,
		d.PPT_PRODUCTCODE, 
		d.PPT_PRDNAME,
		d.PPT_CATECODE, 
		d.PPT_PRDTYPECODE,
		f.ppe_prdtypecode,
		f.ppe_prdtypename
	</sql>
	 
	<resultMap type="java.util.HashMap" id="prdattriMap">
    	<result property="property" column="PPC_PROPERTY"/><!-- 产品属性编码 -->
    	<result property="propertyName" column="PPC_PROPERTYNAME"/><!-- 属性名称 -->
    	<result property="setValue" column="PPC_SETVALUE" javaType="String" jdbcType="VARBINARY" typeHandler="bros.common.core.mybatis.handler.StringOrVarbinaryTypeHandler"/><!-- 属性值 -->
    	<result property="description" column="PPC_DESCRIPTION" javaType="String" jdbcType="VARBINARY" typeHandler="bros.common.core.mybatis.handler.StringOrVarbinaryTypeHandler"/><!-- 属性描述 -->
		<result property="productCode" column="PPT_PRODUCTCODE"/><!-- 产品编码 -->
		<result property="prdName" column="PPT_PRDNAME"/><!-- 产品名称 -->
		<result property="cateCode" column="PPT_CATECODE"/><!-- 产品目录编码 -->
		<result property="prdTypeCode" column="PPT_PRDTYPECODE"/><!-- 产品分类编码 -->
		<result property="parentCode" column="PPE_PRDTYPECODE"/><!-- 顶层产品分类编码 -->
		<result property="parentName" column="PPE_PRDTYPENAME"/><!-- 顶层产品分类名称-->
	</resultMap>
	
	<!--根据产品分类编码和产品编码查询产品属性 -->
	<select id="queryPropertyInfo" resultMap="prdattriMap">
				select 
		<include refid="prd_attri_param"/>
				from PRD_ATTRIPARAMSPEC a , PRD_PRODUCT d,(WITH RECURSIVE r AS ( 
       				SELECT * FROM prd_productype x WHERE x.ppe_prdtypecode = 
       				(select s.PPT_PRDTYPECODE from PRD_PRODUCT s where s.ppt_productcode = #{productCode})
     			union   ALL 
       			SELECT a.* FROM prd_productype a, r WHERE a.ppe_prdtypecode = r.ppe_parentcode) 
				SELECT r.ppe_prdtypecode,r.ppe_prdtypename FROM r where r.ppe_parentcode = '' ORDER BY ppe_prdtypecode) f  
				where a.PPC_PRODUCTCODE = d.PPT_PRODUCTCODE 
		  <if test="productCode != null and productCode != ''">
		   		and a.PPC_PRODUCTCODE = #{productCode}
		  </if>
		   <!-- <if test="prdTypeCode != null and prdTypeCode != ''">
		   		and d.PPT_PRDTYPECODE = #{prdTypeCode}
		  </if> -->
		  <![CDATA[ 
		  		UNION 
			]]>
			select 
			<include refid="prd_default_attri_param"/>
				from PRD_PTPARSPEC b 
				, prd_product d,(WITH RECURSIVE r AS ( 
       				SELECT * FROM prd_productype x WHERE x.ppe_prdtypecode = 
       				(select s.PPT_PRDTYPECODE from PRD_PRODUCT s where s.ppt_productcode = #{productCode})
     			union   ALL 
       			SELECT a.* FROM prd_productype a, r WHERE a.ppe_prdtypecode = r.ppe_parentcode) 
				SELECT r.ppe_prdtypecode,r.ppe_prdtypename FROM r where r.ppe_parentcode = '' ORDER BY ppe_prdtypecode
				) f  
				  
				  where b.ppc_prdtypecode = d.ppt_prdtypecode and b.PPC_PROPERTY not in (
				select c.PPC_PROPERTY from PRD_ATTRIPARAMSPEC c 
				where 1=1 
			 <if test="productCode != null and productCode != ''">
		   		and c.PPC_PRODUCTCODE = #{productCode}
		  	</if>
		  	<![CDATA[ 
		  		)and d.PPT_PRODUCTCODE =#{productCode}
		  	]]>
		  <if test="prdTypeCode != null and prdTypeCode != ''">
		   		and b.PPC_PRDTYPECODE = #{prdTypeCode}
		  </if>
 		     
 	</select>
	
</mapper>