<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="mybatis.mapper.relational.table.ttprole-ttprolebsnrel-ttpbsndefsqlmapper">
	<sql id="ttproleTtprolebsnrelTtpbsndefsqlmapper">
		tre_id,
		tre_cstno,
		tre_name,
		tre_desc,
		tre_createtime,
		tre_createuser,
		tre_moditime,
		tre_modiuser,
		tre_state,
		tre_type,
		bbf_bsncode,
		bbf_name
	</sql>
	
    <resultMap type="java.util.HashMap" id="ttprole-ttprolebsnrel-ttpbsndefsqlmapperResult">
    	<result property="treId" column="tre_id"/>
		<result property="treCstno" column="tre_cstno"/>
		<result property="treName" column="tre_name"/>
		<result property="treDesc" column="tre_desc"/>
		<result property="treCreatetime" column="tre_createtime"/>
		<result property="treCreateuser" column="tre_createuser"/>
		<result property="treModitime" column="tre_moditime"/>
		<result property="treModiuser" column="tre_modiuser"/>
		<result property="treState" column="tre_state"/>
		<result property="treType" column="tre_type"/>
		<result property="tbfBsncode" column="bbf_bsncode"/>
		<result property="tbfName" column="bbf_name"/>
    </resultMap>

    <!-- 根据流水号查询明细表信息 -->
	<select id="queryFuncIdByRoleType" resultMap="ttprole-ttprolebsnrel-ttpbsndefsqlmapperResult">
		SELECT <include refid="ttproleTtprolebsnrelTtpbsndefsqlmapper"/>
		FROM ttp_role r,ttp_role_bsn_rel rbr,bma_bsndef b 
		WHERE r.tre_id=#{treId}
		and   r.tre_id=rbr.trbr_roleid 
		and rbr.trbr_bsncode=b.bbf_bsncode and b.bbf_type NOT IN('S') ORDER BY b.bbf_bsncode ASC
	
    </select>
    
     <!-- 根据角色id+法人id+企业客户号查询角色功能列表 -->
	<select id="queryRoleBsnRelListByConditon" resultMap="ttprole-ttprolebsnrel-ttpbsndefsqlmapperResult">
		SELECT <include refid="ttproleTtprolebsnrelTtpbsndefsqlmapper"/>
		FROM ttp_role r,ttp_role_bsn_rel rbr,bma_bsndef b 
		WHERE r.tre_id=#{treId}
		and   r.tre_id=rbr.trbr_roleid 
		and rbr.trbr_bsnid=b.bbf_id and b.bbf_type NOT IN('S') ORDER BY b.bbf_bsncode ASC
    </select>
</mapper>