 .order-box
    width 1000
    .order-title
        position relative
        padding-top 10px
        height 76px
        .title-big
            position absolute
            top 10px
            left 0px
            line-height 66px
            font-size 22px
        .link
            position absolute
            top 10px
            right 0px
            line-height 66px
    .order-list
        padding 10px
        background #fff
        moz-border-radius 5px
        border-radius 5px
        .tableList
            margin-top 10px
            width 100%
            th
                padding 8px
                background #e8f4fb
                border 1px solid #e9eaec
            td
                padding 8px
                border 1px solid #e9eaec
            .choice
                width 80px
                text-align center
            .title
                width 330px
            .price
                width 140px
                text-align right
            .number
                width 120px
                text-align center
            .money
                width 180px
                text-align right
            .tool
                width 100px
                text-align center
                color $blue
                cursor pointer
            .td-np
                padding 0
    .order-bar
        position relative
        height 48px
        moz-border-radius 5px
        border-radius 5px
        background-color #fdf6e6
        overflow hidden
        .order-info
            position absolute
            left 20px
            line-height 48px
            span
                padding-right 20px
            b
                padding 0 5px
                color $red
                font-size 18px
        .order-btn
            position absolute
            right 0px
            width 100px
            height 48px
            color #cd5d15
            text-align center
            line-height 48px
            cursor pointer
        .bar-btn
            position absolute
            right 0px
            width 90px
            height 45px
            background-color #cd8867
            font-size 18px
            color #fff
            text-align center
            line-height 48px
            cursor pointer
 .pay-box
    width 1000
    .pay-title
        position relative
        padding-top 10px
        height 76px
     .title-big
            position absolute
            top 10px
            left 0px
            line-height 66px
            font-size 22px
    .pay-list-box
        padding 10px
        background #fff
        moz-border-radius 5px
        border-radius 5px
        .pay-list
            width 980px
            height 100px
            .ico01
                background url('/assets/img/shoppingCar/pay_img01.png')
            .ico02
                background url('/assets/img/shoppingCar/pay_img02.png')
            .ico03
                background url('/assets/img/shoppingCar/pay_img03.png')
            .ico04
                background url('/assets/img/shoppingCar/pay_img04.png')
            .ico05
                background url('/assets/img/shoppingCar/pay_img05.png')
            .current
                background url('/assets/img/shoppingCar/pay_bg01.png') 42px bottom no-repeat
            li
                float left
                padding-left 35px
                padding-top 22px
                width 245px
                height 100px
                text-align center
                cursor pointer

                i
                    float left
                    width 56px
                    height 56px
                span
                    float left
                    padding-left 10px
                    height 56px
                    line-height 56px
                    font-size 16px
        .pay-info
            padding 30px 10px 10px 10px
            overflow hidden
            background-color #fff
            .pay-input
                float right
.pay-result-info
    display block
    width 100%
    .order-title
        position relative
        padding-top 10px
        height 76px
        .title-big
            position absolute
            top 10px
            left 0px
            line-height 66px
            font-size 22px
    .alert-success
        padding 25px
        font-size 16px
.payment-list
    overflow hidden
    padding: 15px 0px 25px 0
    display block
    border-bottom 1px dashed #bfbfbf
    ul
        display block
        li
            float left
            margin-right 9px
            _display inline
            cursor default
            i
                display block
                height 60px
            .ico01
                background url('/assets/img/shoppingCar/pay_img01.png') top center no-repeat
                background-size 50px 50px
            .ico02
                background url('/assets/img/shoppingCar/pay_img02.png') top center no-repeat
                background-size 50px 50px
            .ico03
                background url('/assets/img/shoppingCar/pay_img03.png') top center no-repeat
                background-size 50px 50px
            .ico04
                background url('/assets/img/shoppingCar/pay_img04.png') top center no-repeat
                background-size 50px 50px
            .ico05
                background url('/assets/img/shoppingCar/pay_img05.png') top center no-repeat
                background-size 50px 50px
            .current
                background url('/assets/img/shoppingCar/pay_bg01.png') 42px bottom no-repeat    
    .payment-item
        float left
        position relative
        border 1px solid #ddd
        padding 10px 30px
        cursor pointer
        &:hover
            background-color #fafffd
            border: 1px solid #1e78fd
    .item-selected
        border: 1px solid #1e78fd
        color #1e78fd
        font-weight bold
        background-color #fafffd
        b 
            display: block
            position: absolute
            right: 0
            bottom: 0
            width: 12px
            height: 12px
            overflow: hidden
            background: url(/assets/img/shoppingCar/selected-icon.png) no-repeat
 .payAdd-list
    overflow hidden
    padding: 5px 0px 0px 0
    display block
    ul
        display block
        li
            cursor default
            overflow hidden
            padding-bottom 10px
            
            i
                display block
                height 60px
    .payment-item
        float: left
        position relative
        border 1px solid #ddd
        padding 10px 0
        cursor pointer
        width 150px
        text-align center
        &:hover
            background-color #fafffd
            border: 1px solid #1e78fd
    .item-selected
        border: 1px solid #1e78fd
        color #1e78fd
        font-weight bold
        background-color #fafffd
        
        b 
            display: block
            position: absolute
            right: 0
            bottom: 0
            width: 12px
            height: 12px
            overflow: hidden
            background: url(/assets/img/shoppingCar/selected-icon.png) no-repeat
    .add-list
        margin-left 150px
        width 100%
        padding 11px 10px
        background-color #fafafa   
        span
            padding-right 15px  
    .add-list-selected
        background-color #fafffd                     
            
        
