<div class="main-box">
    <div class="titile-step">
        <div class="title">自助注册</div>
        <div class="step"><span class="current"><i>1</i></span>电子银行服务协议<span><i>2</i>填写账户信息</span><span><i>3</i>设置密码</span><span><i>4</i>注册完成</span></div>
    </div>
    <div class="trading-one-box">
        <div>
            <div class="other-agreement">
                <h2>个人客户电子银行服务协议</h2>
                <div class="content">
                    <p>尊敬的客户，为了维护您的权益，请在签署本协议前，仔细阅读本协议条款内容。 甲方：电子银行个人用户 乙方：盛京银行股份有限公司 为明确双方的权利和义务，规范双方业务行为，甲、乙双方本着平等互利的原则，就盛京银行电子银行服务相关事宜达成本协议并共同遵守。 </p>
                    <p><b>第一条</b></p>
                    <p>如无特别说明，下列用语在本协议中的含义为： 电子银行业务：指乙方利用面向社会公众开放的通讯通道或开放型公众网络，以及乙方特定自助服务设施或为甲方建立的专用网络，向甲方提供账户管理、投资理财、贷款融资、汇款支付等离柜金融服务。根据渠道不同，乙方电子银行可分为网上银行、手机银行（包括手机登陆、Pad登陆等，下同）、电视银行、电话银行、自助银行（包括自动取款机、自动存取款机、查询缴费机等自助设备，下同）等。 身份认证要素：指甲方向乙方申请的或甲方自行设置的、用于乙方识别甲方身份的信息要素，如客户号、登录名、账号、密码、数字证书、动态口令、签约设置的电话或手机号码等。 数字证书：指存放甲方身份标识，用以在交易中识别甲方身份以及保障交易安全的、对甲方发送的电子银行交易信息进行数字签名的电子文件。乙方数字证书的存放介质为USBKEY。 电子交易指令：指甲方通过乙方电子银行凭借身份认证要素发起的查询、转账、支付结算等交易请求的统称。 密码：指由甲方自行设定或按照一定规则随机生成的，用于校验甲方身份的字符信息，分为静态密码和动态密码两种。静态密码是由甲方自行设定的密码，包括取款密码、查询密码、登录密码、支付密码等；动态密码为交易中乙方按照一定规则随机生成的用于识别甲方身份发送的交易验证码。</p>
                    <p><b> 第二条</b></p>
                    <p> 服务内容 一、网上银行服务内容 甲方通过乙方网上银行、柜面或其他途径签约并办理相关手续后，即成为乙方网上银行签约客户，根据客户签约级别不同，可享受包括账户管理、信息查询、汇款支付、公共事业缴费等服务，以及申请开通或变更网上银行所提供的服务功能。 二、手机银行服务内容 甲方通过乙方手机银行、柜面或其他途径签约并办理相关手续后，即成为乙方手机银行签约客户，根据客户签约级别不同，可享受包括账户管理、信息查询、汇款支付、公共事业缴费等服务，以及申请开通或变更手机银行所提供的服务功能。 三、电视银行服务内容 甲方通过乙方电视银行、柜面或其他途径签约并办理相关手续后，即成为电视银行的签约客户，可享受包括账户管理、信息查询、公共事业缴费等服务，以及申请开通或变更电视银行所提供的服务功能。 四、电话银行服务内容 甲方通过乙方柜面或其他途径办理银行卡、活期一本通后，即可享受电话银行账务查询、转账服务、自助缴费、凭证挂失、修改密码、传真服务等服务，同时客户可享受全方位、周到的电话银行人工服务。 五、自助银行服务内容 甲方通过乙方柜面或其他途径办理银行卡、活期一本通后，即可享受自助银行信息查询、现金存取、公共事业缴费等服务；通过乙方柜面或其他途径签约自助设备转账等协议并办理相关手续后，即可享受自助银行转账汇款等服务。</p>
                    <p><b>第三条</b></p>
                    <p> 甲方权利、义务 </p>
                    <p>一、权利 </p>
                    <p>（一）甲方自愿向乙方申请开通或签约办理电子银行业务，经乙方同意后，将有权在遵守国家法律法规和乙方相关业务规则的前提下，根据注册方式的不同，要求乙方提供相关银行服务。 </p>
                    <p>（二）甲方有权选择申请电子银行业务种类，有权申请开通电子银行余额查询、明细查询、自助转账等功能，并可在乙方规定的最高限额内设定对外转账限额，具体标准以乙方公告为准。</p>
                    <p>
                        （三）甲方在电子银行服务有效期内有权办理电子银行服务注销或解约手续。</p>
                    <p>
                        （四）甲方对乙方电子银行服务如有疑问、建议或意见时，可拨打客服电话4006996666、登录乙方官方网站或到乙方营业网点进行咨询或投诉。
                    </p>
                    <p> 二、义务 </p>
                    <p>（一）甲方办理电子银行业务，应遵守本协议、《盛京银行电子银行服务章程》和乙方相关业务规则的规定。 （二）甲方前往乙方柜面办理电子银行业务的开通申请（如需）、维护（含关联或变更等）、注销等手续的，应本人亲自办理。按甲方要求提供相关资料、填写申请表，并亲自签名确认。甲方向乙方提供的业务申请表是本协议不可分割的组成部分。甲方应保证所填写的申请表和所提供的资料为本人的真实、准确、完整、合法、有效的资料，对于因甲方提供信息不真实、不完整、不准确、无效或非本人资料所造成的风险及损失由甲方自行承担。甲方为未成年人时，应由其监护人代为申请，提供有效监护关系证明，办理电子银行业务。 </p>
                </div>
            </div>
            <div class="ebank-input-box">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="font_b_18">同意《个人银行服务协议》</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                            <button type="submit" class="btn btn-primary btn-lg">阅读并同意以上客户协议，确认！</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ebank-input-box">
            <div class="ebank-input-title">填写账户信息</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">账号/卡号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>卡号类型</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="11">借记卡</option>
                            <option value="12">活期一本通</option>
                            <option value="13">定期一本通</option>
                            <option value="14">普通存折</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>账号/卡号密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>客户姓名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>证件类型</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="1">居民身份证</option>
                            <option value="2">临时身份证</option>
                            <option value="3">军官证</option>
                            <option value="4">武警证</option>
                            <option value="5">士兵证</option>
                            <option value="6">文职干部证</option>
                            <option value="7">外国护照</option>
                            <option value="8">香港通行证</option>
                            <option value="9">澳门通行证</option>
                            <option value="10">台湾通行证</option>
                            <option value="11">其他证件</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>证件号码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>联系电话</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>E-mail地址</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <a href="#">个人电子银行服务协议</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                        <button type="submit" class="btn btn-primary btn-lg">确认</button>
                        <button type="button" class="btn btn-default btn-lg">步一步</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="ebank-input-box">
            <div class="ebank-input-title">设置密码</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">网银登录密码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">重新输入网银登录密码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">客户昵称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label"><span class="red">*</span>私密问题</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="1">请选择私密问题</option>
                            <option value="2">您父亲的生日是？</option>
                            <option value="3">您母亲的生日是？</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">私密问题答案</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                        <button type="submit" class="btn btn-primary btn-lg">确认</button>
                        <button type="button" class="btn btn-default btn-lg">上一步</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="ebank-input-box">
            <form class="form-horizontal">
                <div class="ebank-input-title">注册结果信息</div>
                <div class="alert alert-success" role="alert"><strong>注册成功!</strong>
系统5秒后将会自动跳转到登录页面，如果没有自动跳转，请点击登录。</div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-6 btn-box-big ">
                        <button type="button" class="btn btn-default btn-lg" ui-sref="login">返回登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
