.shopping-car-box
    width 1000
    .cart-title
        position relative
        padding-top 10px
        height 76px
        .title-big
            position absolute
            top 10px
            left 0px
            line-height 66px
            font-size 22px
        .link
            position absolute
            top 10px
            right 0px
            line-height 66px
    .cart-list
        padding 10px
        background #fff
        moz-border-radius 5px
        border-radius 5px
        .tableList
            width 100%
            // border 1px solid #e9eaec
            th
                padding 8px  
                background #e8f4fb
                border 1px solid #e9eaec
            td
                padding 8px  
                border 1px solid #e9eaec
            .choice
                width 80px
                text-align center
            .title
                width 330px
            .price
                width 140px
                text-align right
            .number
                width 120px
                text-align center
            .money
                width 180px
                text-align right
            .tool
                width 100px
                text-align center
                color $blue
                cursor pointer
            .td-np
                padding 0
    .shopping-car-bar
        position relative
        margin-top 20px
        height 48px
        moz-border-radius 5px
        border-radius 5px
        background-color #fff
        overflow hidden
        .bar-delete
            position absolute
            left 20px
            line-height 48px
            span
                padding-right 30px
            i
                color $blue
                cursor pointer
        .bar-info
            position absolute
            right 120px
            line-height 48px
            span
                padding-left 20px
            b
                padding 0 5px
                color $red
                font-size 18px
        .bar-btn
            position absolute
            right 0px
            width 100px
            height 48px
            background-color #cd8867
            font-size 20px
            color #fff
            text-align center
            line-height 48px
            cursor pointer
            border 0

.discount-box
    padding 10px 10px 20px 10px
    background #f5f5f5
    .discount-bar
        width 100%
        height 36px
        line-height 26px
        .discount-title
            float left
            padding-left 10px
            line-height 26px
            font-weight bold
        .discount-close
            float right 
            width 22px
            height 26px
            font-size 18px
            line-height 26px
            cursor pointer
            text-align left 
            color #148fcb
        .discount-close:hover
            color $blue
    .discount-list
        overflow hidden
        .product-list
            float left
            margin-left 10px
            margin-right 10px
            padding-bottom 10px
            width 210px
            background-color #ffffff
            li
                text-align center
                line-height 30px
                strong
                    color #cd5e16
                i
                    float left
                span
                    float right
            .li-fp
                padding 0 20px
                .form-control
                    display inline-block
                    width 130px
                
         .product-info
            float right
            margin-left 10px
            margin-right 10px
            padding-bottom 10px
            width 230px
            li
                overflow hidden
                width 210px
                padding 10px 0
                span
                    float left
                i
                    float right
                strong
                    float right
            .product-line
                 border-bottom 1px dotted #d2d2d2
.product-detail-discount
    margin-top 20px
    .discount-box
        padding 20px
        background-color #fff
        moz-border-radius 5px
        border-radius 5px
        box-shadow 0 4px 3px rgba(0,0,0,0.1)
        .product-list
            background-color #f5f5f5
            
.recommend-box
    margin-top 20px
.recommend-product-list-box
    border 1px solid #ddd
    border-top 0px
    padding-top 20px
    padding-bottom 20px
    background-color #fff
    display inline-block
    width 100%
    overflow hidden
    .recommend-product-list
        float left
        margin-left 24px
        padding 0 20px
        min-height 340px
        background #f5f5f5
        .img
            padding 15px 0 10px 0
            img
                width 260px
        .product-info
            .big-font
                font-size 32px
                color #cc5e14
                span
                    font-size 12px
            .product-but
                .btn
                    width 150px
                    height 40px
            li
                padding 5px 0
                text-align center
            .product-title
                font-size 18px
            .product-tag
                span
                    display inline-block
                    margin 0 2px
                    padding 0 6px
                    height 22px
                    font-size 12px
                    color #cc8866
                    border #cc8866 1px solid
                    line-height 20px
                    -moz-border-radius 3px
                    -webkit-border-radius 3px
                    border-radius 3px
        .title
            height 40px
            line-height 40px
            font-size 22px
                
                   
                