<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="mybatis.mapper.relational.table.outsideworkflowuser"> -->
<mapper namespace="mybatis.mapper.activiti.outside.table.workflowoutsideuser">

	<resultMap type="java.util.HashMap" id="userResult">
    	<result property="userId" column="TURR_USERID"/>
    </resultMap>
    <resultMap type="java.util.HashMap" id="userInfoResult">
    	<result property="userId" column="tui_id"/>
    </resultMap>
    
    <resultMap type="java.util.HashMap" id="cstResult">
    	<result property="manage" column="tcic_manage"/>
    </resultMap>
    
    <resultMap type="java.util.HashMap" id="userRoleResult">
    	<result property="userId" column="tui_id"/><!-- 操作员id -->
    	<result property="userNo" column="tui_userno"/><!-- 操作员编号 -->
    	<result property="cstNo" column="tui_cstno"/><!-- 客户号 -->
    	<result property="userName" column="tui_username"/><!-- 操作员名称 -->
    	<result property="name" column="tre_name"/><!-- 操作员角色信息 -->
    </resultMap>
    
    <sql id="queryManageUserRoleParams">
    	tui_id,
    	tui_userno,
    	tui_cstno,
    	tui_username,
    	tre_name 
    </sql>
   
	<!-- 查询企业客户下有管理权限的状态正常操作员id列表-->
    <select id="queryManageUserList"  parameterType="java.util.HashMap" resultMap="userResult">
	    select d.turr_userid from ttp_user_role_rel d,ttp_user_inf_channel e where d.turr_roleid in(
		select c.tre_id from ttp_role c where c.tre_cstno=(
		select tci_cstid from ttp_cst_inf a,ttp_cst_inf_channel b where a.tci_legalid=#{legalId} and a.tci_cstno=#{cstNo} and a.tci_cstid=b.tcic_cstid
		and b.tcic_stt=#{userState})
		and substr(c.tre_type,3,1)='1')
		and d.turr_userid=e.tuin_id and e.tuin_stt=#{operatorState} and d.turr_userid!=#{userId}
    </select>
    <!-- 根据企业角色编号id查询状态正常的操作员 -->
    <select id="queryUserList"  parameterType="java.util.HashMap" resultMap="userResult">
	    select a.turr_userid from ttp_user_role_rel a,ttp_user_inf_channel b
		where a.turr_roleid=#{roleId} and a.turr_userid=b.tuin_id
		and b.tuin_stt=#{operatorState} and a.turr_userid!=#{userId}
    </select>
    <!-- 查询操作员id -->
    <select id="queryUserIdByNo"  parameterType="java.util.HashMap" resultMap="userInfoResult">
	    select tui_id from ttp_user_inf where tui_cstno=(
			select tci_cstid from ttp_cst_inf where tci_legalid=#{legalId} and tci_cstno=#{cstNo})
		and tui_userno=#{operatorNo}
    </select>
    <!-- 查询渠道客户信息 -->
    <select id="queryCstManage"  parameterType="java.util.HashMap" resultMap="cstResult">
	    select tcic_manage from ttp_cst_inf_channel
		where tcic_cstid=(select tci_cstid from ttp_cst_inf where tci_cstno=#{cstNo} and tci_legalid=#{legalId})
    </select>
    
    
    <!-- 查询企业客户下有管理权限的状态正常操作员id列表-->
    <select id="queryManageUserRoleList"  parameterType="java.util.HashMap" resultMap="userRoleResult">
	    select 
	    	<include refid="queryManageUserRoleParams"/>
	    from ttp_user_inf a left join(
			select turr_userid,tre_name 
			from ttp_user_role_rel b,ttp_role c 
			where b.turr_roleid=c.tre_id and c.tre_legalid=#{legalId} and c.tre_cstno=#{cstNo}
		) e on a.tui_id=e.turr_userid where a.tui_id in 
		<foreach collection="userIdList" index="index" item="userId" open="(" separator="," close=")">
				#{userId}
	    </foreach>
    </select>
</mapper>