//登录广告图
.banner-login
    background: url(../assets/img/login/banner_login.jpg) center
    height: 540px
    position: relative
//登录外盒
.login-box
    position: relative
    width: 1000px
    height: 422px
    margin: 0 auto
//登录框
.login
    padding: 20px
    width: 328px
    height: 422px
    background-color: #fff
    position: absolute
    top: 58px
    right: 0px
    border: 1px solid #b9b9b9
    .refresh-img
        display: inline-block
        vertical-align: middle
        padding: 0px 10px 0 10px
        color: #4fabd9
        text-decoration: none
        cursor: pointer
    .input-small
        display: inline-block
        width: 125px
        height: 45px
        border: 1px solid #e3e3e6
        margin: 15px 0
        text-indent: 14px
    .title
        font-size 22px
        padding: 10px 0
    .refresh
        font-size: 12px
        color: #4fabd9
        text-decoration: none
        line-height: 80px
        cursor: pointer
    .text-link
        padding-top: 20px
        text-align: center
        span
            padding: 0 10px
            color: #c5cedb
        a
            text-decoration: none
            color: #148fcc
            margin: 0 auto
    .input
        width: 284px
        height: 45px
        border: 1px solid #e3e3e6
        margin: 15px 0
        text-indent: 14px
    .btn
        margin-top: 10px
        width: 284px
    .alert-danger
        position absolute
        top 20px
        width 284px
.highlight
    position absolute
    z-index 9999999
    border 2px solid $blue
    background white
    -webkit-box-shadow 0 0 5px 5px #cccccc outset
    .hightBlock
        height 100%
        font-size 21px
        font-weight 500
        color $blue
