<div class="main-box">
        <div class="trading-one-box">
            <div class="ebank-input-box">
                <div class="ebank-input-title" ng-model="vm.model.title">个人汽车消费贷款</div>
                <form class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>选择地区</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>请选择贷款服务行</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>贷款金额</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="vm.model.money">
                            <p class="help-text">大写：<span>500,000.00元</span></p>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>贷款期限</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>担保方式</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>担保物</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label"><span class="red">*</span>收款人姓名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
                            <button type="submit" class="btn btn-primary" ng-click="vm.setShopcar()">添加</button>
                            <button type="button" class="btn btn-default" ui-sref="loanService">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
