.list
    position: relative
    float: left
    margin: 20px 0 0 20px
    padding: 20px
    width: 490px
    background: #fff
    .img
        float: left
        padding: 10px
        width: 180px
        height: 150px
        img
            width: 180px
            height: 150px
    .transfer-info
        float: right
        padding: 0 10px
        width: 260px
        .big-font
            font-size: 22px
            color: #cc5e14
            span
                font-size: 12px
        li
            padding: 5px 0
            color: #7b7b7b
        .transfer-title
            font-size: 18px
            color: #58585a
        .transfer-but
            .btn
                width: 150px
                height: 40px
                font-size: 16px
.transfer-wind-input
    padding 15px 45px 15px 15px
    .transfer-wind-title
        padding-left 20px
        height 60px
        font-size 18px