
    <div class="banner-transfer"></div>
    <div class="main-box">
        <div class="product-list-two">
            <div class="nav-title-bar">
                <div class="title">我的贷款</div>
                <div loanhead flow="2"></div>
            </div>
            <div class="trading-one-box">
                <div class="ebak-table-list">
                <consumer-loandirective product='vm.loanList' type="vm.type"></consumer-loandirective>

                    <div class="pagination-box clearfix">
                        <paging class="small" page="vm.page.currentPage" page-size="vm.page.pageSize" total="vm.page.total" adjacent="{{vm.page.adjacent}}" dots="{{vm.page.dots}}" scroll-top="false" hide-if-empty="true" ul-class="pagination" active-class="active" disabled-class="disabled" show-prev-next="true" paging-action="vm.DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                        </paging>
                    </div>
                </div>
            </div>
        </div>
    </div>
