.order-table
    .table
        border: 1px solid #ddd
        border-top: 0
        thead
            th
                border 0
                padding 12px 15px

        tbody
            th
                padding 12px 15px

        tbody
            td
                padding 12px 15px
    .pagination-box
        .pagination
            margin 0
            float right




.transaction-records
    min-height 600px
    margin 0 15px
    .transaction-records-title
        height:38px
        padding-top:8px
        padding-bottom:8px
        .title-name
            color:#333
            font-size:18px
            float:left
    .transaction-records-divid
        height:2px
        background:-webkit-gradient(linear, 10% 20%, 9% 20%, from(#e0e0e0), to(#808080))
        margin-bottom:25px
    .records-list
        min-height 450px
        .searchBar
            height 50px
            margin-bottom:30px
            .search-duration
                float left
                width 40%
                .text
                    display inline-block
                    height 25px
                    width 18%
                    font-size 12px
                    text-align center
                    background-color #fff
                    color #333
                    line-height 25px
                    margin 6px 2px
                    border-radius 6px
                .text:hover
                    color $blue
                .selected
                    color $blue
                .unselect
                    background-color #fff
                    color #333
            .search-date
                float left
                width 60%
                .startDate, .endDate
                    float left
                    width 35%
                    margin-left 10px
                .text
                    float left
                    padding 10px 0 0 10px
                    font-size 12px
                .search-btn
                    margin-left 10px
                    float right
                .search-btn:hover
                    background-color $blue
        .financial-content
            min-height 450px

