<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 调用服务提供方对外发布的服务配置位置                       服务提供方与服务消费方之间的zookeeper -->
	
	<!--================================================ 广告栏管理 ================================================-->
	<!-- 添加广告栏服务 -->
	<dubbo:reference check="false" version="1.0.0" id="addBannerinfoManageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICBannerinfoServiceFacade">
		<dubbo:method name="addBannerinfo" />
	</dubbo:reference>
	<!-- 修改广告栏服务 -->
	<dubbo:reference check="false" version="1.0.0" id="updateBannerinfoManageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICBannerinfoServiceFacade">
		<dubbo:method name="updateBannerinfo" />
	</dubbo:reference>
	<!-- 删除广告栏服务 -->
	<dubbo:reference check="false" version="1.0.0" id="deleteBannerinfoManageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICBannerinfoServiceFacade">
		<dubbo:method name="deleteBannerinfo" />
	</dubbo:reference>
	<!-- 查询操广告栏服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryBannerinfoManageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICBannerinfoServiceFacade">
		<dubbo:method name="queryBannerinfo" />
	</dubbo:reference>
	
</beans>  