<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 调用服务提供方对外发布的服务配置位置                       服务提供方与服务消费方之间的zookeeper -->
	
	<!--================================================ 授权模型管理 ================================================-->
	<!-- 重新计算购物车服务 -->
	<dubbo:reference check="false" version="1.0.0" id="calculateShoppingCartPriceAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="calculateShoppingCartPrice" />
	</dubbo:reference>
	
	<!-- 执行订单服务 -->
	<dubbo:reference check="false" version="1.0.0" id="externalProcessOrderAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="externalProcessOrder" />
	</dubbo:reference>
	
	<!-- 查询热销服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryDiscoverHotAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="queryDiscoverHot" />
	</dubbo:reference>
	
	<!-- 查询促销服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryDiscoverPromotionsAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="queryDiscoverPromotions" />
	</dubbo:reference>
	
	<!-- 查询店铺与客户支付工具和客户地址信息列表流程 -->
	<dubbo:reference check="false" version="1.0.0" id="queryStoreListInfoAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="queryStoreListInfo" />
	</dubbo:reference>
	
	<!-- 查询产品列表流程 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductListProcessAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="queryProductListProcess" />
	</dubbo:reference>
	
	<!-- 查询订单列表 -->
	<dubbo:reference check="false" version="1.0.0" id="getOrdersListAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="getOrdersList" />
	</dubbo:reference>
	
	<!-- 查询订单详情 -->
	<dubbo:reference check="false" version="1.0.0" id="getOrderDetailAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="getOrderDetail" />
	</dubbo:reference>
	
	<!-- 确认订单 -->
	<dubbo:reference check="false" version="1.0.0" id="externalApprovedOrderAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="externalApprovedOrder" />
	</dubbo:reference>
	
	<!-- 查询报价列表 -->
	<dubbo:reference check="false" version="1.0.0" id="queryQuotedPriceAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="queryQuotedPrice" />
	</dubbo:reference>
	
	<!-- 获取调查信息 -->
	<dubbo:reference check="false" version="1.0.0" id="getSurveyQuestionAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="getSurveyQuestion" />
	</dubbo:reference>
	<!-- 需求提交 -->
	<dubbo:reference check="false" version="1.0.0" id="addShoppingListAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="createShoppingListService" />
	</dubbo:reference>

	<!-- 校验是否上架 -->
	<dubbo:reference check="false" version="1.0.0" id="checkShowShelfGoodsInfoMethodAction_1.0.0" interface="bros.c.common.facade.service.ICShoppingCartServiceFacade">
		<dubbo:method name="checkShowShelfGoodsInfoMethod" />
	</dubbo:reference>
</beans>  