<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 调用服务提供方对外发布的服务配置位置                       服务提供方与服务消费方之间的zookeeper -->
	<!--================================================ 产品分类管理 ================================================-->
	<!-- 添加产品分类信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="addProductTypeAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="addProductTypeMethod" />
	</dubbo:reference>
	<!-- 修改产品分类信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="updateProductTypeAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="updateProductTypeMethod" />
	</dubbo:reference>
	<!-- 删除产品分类信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="deleteProductTypeAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="deleteProductTypeMethod" />
	</dubbo:reference>	
	<!-- 查询产品分类信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="queryProductTypeMethod" />
	</dubbo:reference>	
	<!-- 分页查询产品分类信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypePageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="queryProductTypePageMethod" />
	</dubbo:reference>	
	<!-- 单笔查询产品分类信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="queryProductTypeOneMethod" />
	</dubbo:reference>		
	<!-- 查询产品规格属性信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeSpeAttrAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="querySpecificationAttributesMethod" />
	</dubbo:reference>	
	<!-- 分页查询产品规格属性信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeSpeAttrPageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="querySpecificationAttributesPageMethod" />
	</dubbo:reference>	
	<!-- 单笔查询产品规格属性信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeSpeAttrOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="querySpecificationAttributesOneMethod" />
	</dubbo:reference>	
	<!-- 查询产品实例属性信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeInsAttrAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="queryInstanceAttributesMethod" />
	</dubbo:reference>	
	<!-- 分页查询产品实例属性信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeInsAttrPageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="queryInstanceAttributesPageMethod" />
	</dubbo:reference>	
	<!-- 单笔查询产品实例属性信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductTypeInsAttrOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductTypeServiceFacade" >
		<dubbo:method name="queryInstanceAttributesOneMethod" />
	</dubbo:reference>		
	
	
	<!--================================================ 产品服务管理================================================-->
	<!-- 新增产品服务服务 -->
	<dubbo:reference check="false" version="1.0.0" id="addProductServiceAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductServiceServiceFacade" >
		<dubbo:method name="addProductServiceMethod"/>
	</dubbo:reference>
	<!-- 修改产品服务服务 -->
	<dubbo:reference check="false" version="1.0.0" id="updateProductServiceAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductServiceServiceFacade" >
		<dubbo:method name="updateProductServiceMethod"/>
	</dubbo:reference>
	<!-- 删除产品服务服务 -->
	<dubbo:reference check="false" version="1.0.0" id="deleteProductServiceAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductServiceServiceFacade" >
		<dubbo:method name="deleteProductServiceMethod"/>
	</dubbo:reference>
	<!-- 查询产品服务服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductServiceAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductServiceServiceFacade" >
		<dubbo:method name="queryProductServiceMethod"/>
	</dubbo:reference>
	<!-- 分页查询产品服务服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductServicePageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductServiceServiceFacade" >
		<dubbo:method name="queryProductServicePageMethod"/>
	</dubbo:reference>
	<!-- 单笔查询产品服务服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductServiceOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductServiceServiceFacade" >
		<dubbo:method name="queryProductServiceOneMethod"/>
	</dubbo:reference>
		
	<!--================================================ 产品目录管理 ================================================-->		
	<!-- 新增产品目录服务-->
	<dubbo:reference check="false" version="1.0.0" id="addProductCateAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductCateServiceFacade" >
		<dubbo:method name="addProductCateMethod"/>
	</dubbo:reference>
	<!-- 更新产品目录服务-->
	<dubbo:reference check="false" version="1.0.0" id="updateProductCateAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductCateServiceFacade" >
		<dubbo:method name="updateProductCateMethod"/>
	</dubbo:reference>
	<!-- 删除产品目录服务-->
	<dubbo:reference check="false" version="1.0.0" id="deleteProductCateAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductCateServiceFacade" >
		<dubbo:method name="deleteProductCateMethod"/>
	</dubbo:reference>
	<!-- 查询产品目录服务-->
	<dubbo:reference check="false" version="1.0.0" id="queryProductCateAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductCateServiceFacade" >
		<dubbo:method name="queryProductCateMethod"/>
	</dubbo:reference>
	<!-- 分页查询产品目录服务-->
	<dubbo:reference check="false" version="1.0.0" id="queryProductCatePageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductCateServiceFacade" >
		<dubbo:method name="queryProductCatePageMethod"/>
	</dubbo:reference>
	<!-- 单笔查询产品目录服务-->
	<dubbo:reference check="false" version="1.0.0" id="queryProductCateOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductCateServiceFacade" >
		<dubbo:method name="queryProductCateOneMethod"/>
	</dubbo:reference>
	
	
	<!--================================================ 产品信息管理 ================================================-->	
	<!-- 添加产品信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="addProductInformationAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="addProductInformationMethod"/>
	</dubbo:reference>	
	<!-- 修改产品信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="updateProductInformationAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="updateProductInformationMethod"/>
	</dubbo:reference>	
	<!-- 删除产品信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="deleteProductInformationAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="deleteProductInformationMethod"/>
	</dubbo:reference>	
	<!-- 查询产品信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductInformationAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryProductInformationMethod"/>
	</dubbo:reference>	
	<!-- 分页查询产品信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductInformationPageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryProductInformationPageMethod"/>
	</dubbo:reference>	
	<!-- 单笔查询产品信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductInformationOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryProductInformationOneMethod"/>
	</dubbo:reference>	
	<!-- 查询规格属性参数信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductInformationAttrAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryAttributeParameterMethod"/>
	</dubbo:reference>
	<!-- 分页查询规格属性参数信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductInformationAttrPageAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryAttributePageMethod"/>
	</dubbo:reference>
	<!-- 单笔查询规格属性参数信息服务 -->
	<dubbo:reference check="false" version="1.0.0" id="queryProductInformationAttrOneAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryAttributeOneMethod"/>
	</dubbo:reference>
	
	<!-- 根据产品分类查询产品属性及属性值 -->
	<dubbo:reference check="false" version="1.0.0" id="queryPrdAttrAndAttrParamByPrdTypeCodeAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryAttributeParameterByProductTypeCodeMethod"/>
	</dubbo:reference>
	<!-- 根据产品分类编码、产品编码查询产品属性及属性值 -->
	<dubbo:reference check="false" version="1.0.0" id="queryAttributeInfoMethodAction_1.0.0" interface="bros.c.bankmanage.facade.service.ICProductInformationServiceFacade" >
		<dubbo:method name="queryAttributeInfoMethod"/>
	</dubbo:reference>
</beans>  