<div class="main-box">
    <div forgetpasswordstate flow="2"></div>
    <div class="trading-one-box">


        <div class="ebank-input-box">
            <div class="ebank-input-title">设置新密码</div>
            <form class="form-horizontal" novalidate ng-submit="vm.tosetPasswordSucc()" name="vm.regForm">


              <div class="form-group">
                <label for="txt_entryPswd" class="col-sm-4 control-label"><span class="red">*</span>
                    设置登录密码:
                </label>
                <div class="col-sm-4 ">
                    <div class="input-group">
                      <!--   <input type="text" style="display: none;"> -->
                      <input  type="password" required class="form-control" ng-model="vm.model.entryPswd" id="txt_entryPswd" name="txt_entryPswd" minlength="1" maxlength="20" placeholder="请输入您的登录密码" >
                      <div class="input-group-addon">
                        <pwd-eye for="txt_entryPswd"></pwd-eye>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 error" ng-messages="vm.regForm.txt_entryPswd.$error">
                <span class="help-block" ng-message="required">请输入您的登录密码</span>
                <span class="help-block" ng-message="minlength">密码长度需为8至20位</span>
            </div>
        </div>
        <div class="form-group" ng-show="vm.regForm.txt_entryPswd.$viewValue">
            <div class="col-sm-offset-4 col-sm-4">
                <div passwordstrength pwd="vm.model.entryPswd"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="txt_reentryPswd" class="col-sm-4 control-label"><span class="red">*</span>重新输入网银登录密码</label>
            <div class="col-sm-4">
                <div class="input-group">
                   <input type="text" style="display: none;" ng-model="vm.model.entryPswd" id="pw1" name="pw1">


                   <input  type="password" required class="form-control" ng-model="vm.model.reentryPswd"    id="txt_reentryPswd" name="txt_reentryPswd" minlength="1" maxlength="20" placeholder="请输入您的登录密码" pw-check="pw1" >
                   <div class="input-group-addon">
                    <pwd-eye for="txt_reentryPswd"></pwd-eye>
                </div>
            </div>
        </div>
        <div class="col-sm-4 error" ng-messages="vm.regForm.txt_reentryPswd.$error">
            <span class="help-block" ng-message="required">请输入您的登录密码</span>
            <!-- <span class="help-block" ng-message="minlength">密码长度需为8至20位</span> -->
            <span class="help-block" ng-message="pwmatch">密码不一致</span>

        </div>
    </div>

    <div class="form-group">
        <label for="txt_name" class="col-sm-4 control-label"><span class="red">*</span>客户昵称</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txt_name" name="txt_name" ng-model="vm.model.name" placeholder="请输入客户昵称" required>
        </div>
        <div class="col-sm-4 error" ng-messages="vm.regForm.txt_name.$error">
            <span class="help-block" ng-message="required">请输入客户昵称</span>
        </div>
    </div>

    <div class="form-group">
        <label for="txt_question" class="col-sm-4 control-label"><span class="red">*</span>私密问题</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model = "vm.model.question" required id="txt_question" name="txt_question" >
                <option value="1">请选择私密问题</option>
                <option value="2">您父亲的生日是？</option>
                <option value="3">您母亲的生日是？</option>
            </select>
        </div>
        <div class="col-sm-4 error" ng-messages= "vm.regForm.txt_question.$error">
            <span class="help-block" ng-message="required">请选择私密问题</span>
        </div>
    </div>
    <div class="form-group">
        <label for="txt_answer" class="col-sm-4 control-label"><span class="red">*</span>私密问题答案</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txt_answer" name="txt_answer" required ng-model="vm.model.answer"
            placeholder="请入私密问题答案" >
        </div>
        <div class="col-sm-4 error" ng-messages="vm.regForm.txt_answer.$error">
            <span class="help-block" ng-message="required">请入私密问题答案</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 btn-box-big ">
            <button type="submit" class="btn btn-primary btn-lg">确认</button>
            <button type="button" ng-click="vm.goBack()" class="btn btn-default btn-lg">上一步</button>
        </div>
    </div>
</form>
</div>
</div>
</div>
