<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 调用服务提供方对外发布的服务配置位置                       服务提供方与服务消费方之间的zookeeper -->
	
	<!-- 内部授权对外发布服务 -->
	<dubbo:reference check="false" version="1.0.0"  id="callbackpinsideAuthServiceFacade" interface="bros.p.auth.facade.service.IPInsideAuthServiceFacade" />
	<!-- 对客授权任务中心对外发布服务 -->
	<dubbo:reference check="false" version="1.0.0"  id="callbackpoutSideAuthServiceFacade" interface="bros.p.auth.facade.service.IPOutSideAuthSerivceFacade" />
	
	
     
</beans>  